@{
    ViewBag.Title = "Home Page";
    //List<ListaDeTarefasMVC.Models.Tarefa> listaTarefas = ViewBag.ListaDeTarefas;
    List<ListaDeTarefasMVC.Models.TarefaSimples> listaTarefas = ViewBag.ListaDeTarefas;
    List<ListaDeTarefasMVC.Models.TarefaConcluida> tarefasConcluidas = ViewBag.TarefasConcluidas;


}

<style>
    /*.bx-plus {
        font-size: 30px;
        margin-left: 10px;
        background-color: blueviolet;
        border-radius: 50%;
        padding: 5px;
        color: white;
    }

    button {
        width: 10%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }*/

    .linha-vertical {
        border-left: 2px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
        box-sizing: border-box;
    }
</style>

<script>

    $(function () {
        InicializaComponentes();
    });

    function InicializaComponentes() {
        carregarCampoData('#data', null, null);
    }


    //$(function () {
    //    $("#data").datepicker({
    //        showOn: 'button',
    //        //buttonImage: 'images/calendar.png',
    //        //buttonImageOnly: true,
    //        dateFormat: 'dd/mm/yy',
    //        dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
    //        dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
    //        dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
    //        monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    //        monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    //        nextText: 'Próximo',
    //        prevText: 'Anterior'
    //    });
    //});

    function ExibirTarefasMarcadas() {
        var checados = [];
        $.each($('input[type = "checkbox"]:checked'), function () {
            checados.push($(this).val());
        });
        if (checados == undefined || checados == null || checados.length == 0) {
            Alerta('Atenção', 'Selecione pelo menos uma atividade para marcar como concluido!')
        }
        else {
            console.log(checados.join(", "));
            ConfirmaConclusao('Atenção', `Deseja marcar como concluido as atividades: ${checados.join(", ")}`)
        }

    }


    function Alerta(titulo, texto) {
        $('#dialogJquery').attr('title', titulo);
        $('#texto').text(texto);
        $("#dialogJquery").dialog({
            dialogClass: "no-close",
            buttons: [
                {
                    text: "Ok",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }



    function ExibirCalendario() {
        $("#datepicker").datepicker();
    }

    function ExcluirTarefa() {

    }

    function ConfirmaConclusao(titulo, texto) {
        $('#myModalLabel').text(titulo);
        $('#myModalText').text(texto);
        $("#myModal").modal("show");
    }

    function FecharAlerta() {
        $('#myModalLabel').text('');
        $('#myModalText').text('');
        $("#myModal").modal("hide");
    }

    function RegistrarTarefaConcluida() {
        FecharAlerta();
        var checados = [];
        $.each($('input[type = "checkbox"]:checked'), function () {
            checados.push($(this).val());
        });
        let nomeTarefa = checados.join(", ");
        $.ajax({
            url: '/Tarefa/RegistrarTarefaConcluida',
            type: 'POST',
            data: { nomeTarefa: nomeTarefa },
            success: function (response) {
                console.log('Resposta do servidor:', response);
                ExibirTarefasConcluidas();
                AtualizaTela();
            },
            error: function (error) {
                console.error('Erro na solicitação:', error);
            }
        });
    }

    function ExibirTarefasConcluidas() {
        $.ajax({
            url: '/Tarefa/ExibirTarefasConcluidas',
            type: 'GET',
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                Alerta('Ops...', error);
            }
        })
    }

    function AtualizaTela() {
        //$.ajax({
        //    url: '/Tarefa/ListaDeTarefas',
        //    type: 'GET',
        //    success: function (result) {
        //        $('partialViewListaDeTarefas').html(result);
        //    },
        //    error: function (error) {
        //        Alerta('Erro', error);
        //    }
        //    })

        //$('#partialViewListaDeTarefas').load('/Tarefa/ListaDeTarefas', function (response, status, xhr) {
        //    if (status == "success") {
        //        alert("External content loaded successfully!");
        //        $('#partialViewListaDeTarefasConcluidasHoje').load('/Tarefa/ListaDeTarefasConcluidasHoje', function (response, status, xhr) {
        //            console.log(status);
        //        });
        //    }

        //    if (status == "error")
        //        alert("Error: " + xhr.status + ": " + xhr.statusText);
        //});

        //$.get('/Controlador/Acao2', function (data) {
        //    // Atualizar a segunda div com o conteúdo da segunda Partial View
        //    $('#partialView2Container').html(data);
        //});

        $('#partialViewListaDeTarefas').load('/Tarefa/ListaDeTarefas');
        $('#partialViewListaDeTarefasConcluidasHoje').load('/Tarefa/ListaDeTarefasConcluidasHoje');
    }

</script>

<h1>Bem vindo ...</h1>


<div class="row">
    <div id="partialViewListaDeTarefas" class="col-md-5">
        @Html.Partial("_ListaDeTarefas")
    </div>


    <div class="col-md-2">
        <div class="linha-vertical"></div>
    </div>



    @*<h2>Tarefas concluidas hoje</h2>*@
    <div id="partialViewListaDeTarefasConcluidasHoje" class="col-md-5">
        @Html.Partial("_ListaDeTarefasConcluidasHoje")
    </div>
</div>



<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Abrir modal de demonstração
    </button>*@

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Título do modal</h4>
            </div>
            <div class="modal-body">
                <p id="myModalText"></p>
            </div>
            <div class="modal-footer">
                <button id="btnFechar" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button id="btnConfirma" type="button" class="btn btn-primary" onclick="RegistrarTarefaConcluida()">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>


<div id="dialogJquery" title="">
    <p id="texto">

    </p>
</div>

