@{
    string mensagem = ViewBag.Message;
}

<style>
    .input {
        width: 200px;
    }
</style>

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">@TempData["erro"]</div>
}
<script>


</script>

<script>

    $(function () {
        InicializaComponentes();
    });

    function InicializaComponentes() {
        carregarCampoData('#calendario', null, null);
    }

    function Calendario() {
        $("#calendario").datepicker();
        console.log('Cheguei');

    }

    function Alerta(titulo, texto) {
        $('#dialog').attr('title',titulo);
        $('#texto').text(texto);
        $("#dialog").dialog({
            dialogClass: "no-close",
            buttons: [
                {
                    text: "Ok",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }

    //function ValidarDados() {
    //    let nome = $('#nome').val();
    //    if (nome.trim() == '') {
    //        Alerta('Atenção','Não é possível adicionar uma tarefa sem nome!')
    //    }
    //}

    //Evento que é chamado quando um submit é acionado
    function ValidarDados(e) {
        console.log(e);
        let nome = $('#nome').val();
        if (nome.trim() == '') {
            Alerta('Atenção', 'Não é possível adicionar uma tarefa sem nome!')
            e.preventDefault();
        }

        
        /* Restante da sua função */
        return false;
    }
</script>

<div>
    <a href="/Tarefa/"> <img src="~/assets/voltar.png" width="30" class="btn-default" /> Voltar</a>
</div>

<div class="row">
    <h1>Nova Tarefa</h1>
</div>





<form action="/Tarefa/CriarNovaTarefa" method="post">

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome da tarefa:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome da tarefa" style="width:200px;" required >
        </div>

    </div>

    @*DropDown List com bootstrap*@
    @*<div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>*@

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prioridade da Tarefa: </label>
        <div class="col-sm-10">
            <select name="prioridade" id="prioridade" style="width:200px;">
                <option value=0>Selecione uma opção</option>
                <option value=1>Alta</option>
                <option value=2>Média</option>
                <option value=3>Baixa</option>
            </select>
        </div>

    </div>

    <div class="form-group row">
        <label for="data" class="col-sm-2 col-form-label">Previsão de conclusão</label>
        <div class="col-sm-10">
            <input type="text" id="calendario" name="previsaoConclusao" style="width:200px;"/>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" onclick="ValidarDados(event);">Salvar</button>
        </div>
    </div>

</form>


<div id="dialog" title="">
    <p id="texto">

    </p>
</div>